:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: lightskyblue;
}

#app {
  margin: auto;
  margin-top: 125px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#egg {
  /* border: solid 5px black; */
}

#btns {
  display: flex;
  justify-content: center;
  padding: 5px;
}

#incubate-btn {
  background-color: none;
  border: none;
  cursor: pointer;
}

#location-div {
  height: 50px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  color: whitesmoke;
  background-color: black;
}

#guild {
  margin-right: 15px;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(10deg);
  }

  90% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.shake {
  animation: shake 5s linear;
}