:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

#app {
  margin: 0 auto;
  background-color: rgb(236, 34, 128);
  text-align: center;
}

#container {
  background-color: rgb(94, 241, 94);
}

#egg {
  background-color: rgb(226, 207, 60);
}

#btns {
  display: flex;
  justify-content: center;
}

#incubate-btn {
  background-color: none;
  border: none;
  cursor: pointer;
}

#location-div {
  background-color: rgb(57, 223, 232);
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

#guild {
  margin-right: 4px;
}